include ../components/head.pug
.layout-wrapper.layout-content-navbar
  .layout-container
    include ../components/navigation.pug
    .layout-page
      include ../components/navbar.pug
      .content-wrapper
        // Content
        .container-xxl.flex-grow-1.container-p-y
          if data.orders.length
            .card
              h5.card-header Список заказов
              .table-responsive.text-nowrap
                table.table
                  thead
                    tr.text-nowrap
                      th #
                      th Имя заказчика
                      th Почта
                      th Телефон
                      th Адрес
                      th Дата 
                      th Статус
                      th Сумма
                      th Со скидкой
                      th Позиции
                  tbody
                    each order,indx in data.orders
                      tr
                        th #{indx+1}
                        td #{order.name}
                        td #{order.email}
                        td #{order.phone}
                        td #{order.address}
                        td #{order.createdAt.toLocaleTimeString('ru-RU', {day: '2-digit',month: '2-digit', year: 'numeric',})}
                        td 
                          form(action="" method="GET") 
                            select.form-select.form-select-lg(aria-label='Default select example' required name="category" style=" min-width: 200px")
                              option(selected value="pending") Не обработан
                              option(value="delivering") Доставляется
                              option(value="submitted") Завершен
                              option(value="failed") Отменен
                        td #{order.total}грн
                        td #{order.totalPromotion}грн
                        td 
                          .dropdown
                            form(action="/comment/delete/" method="GET") 
                              button.btn.p-0.dropdown-toggle.hide-arrow(type='button' data-bs-toggle='dropdown')
                                i.bx.bx-dots-vertical-rounded
                              .dropdown-menu 
                                each product in order.products
                                  div(style="padding: 1em 2em")
                                    a(href="/store/product/" + product.productId.slug target="_blank") #{product.productId.name}
                                
                    

            .row.mb-5 
              .demo-inline-spacing
                nav(aria-label='Page navigation')
                  ul.pagination.justify-content-center
                    if data.pageNum !== 1
                      li.page-item.prev
                        a.page-link(href='?page=' + parseInt(data.pageNum - 1))
                          i.tf-icon.bx.bx-chevrons-left
                    -var n = 1;
                    while n <= data.paginationItems
                      if n - 1 === data.pageNum || n === data.pageNum || n + 1 === data.pageNum
                        if n === data.pageNum
                          li.page-item.active
                            a.page-link(href='#') #{n}
                        else
                          li.page-item
                            a.page-link(href='?page=' + n) #{n}
                      - n++;
                    if parseInt(data.pageNum) != parseInt(data.paginationItems)
                      li.page-item.next
                        a.page-link(href='?page=' + parseInt(data.pageNum + 1))
                          i.tf-icon.bx.bx-chevrons-right
          else 
            p(style="text-align: center; margin: 200px auto") На сайте пока нет комментариев
        .content-backdrop.fade
  .layout-overlay.layout-menu-toggle
    include ../components/footer-js.pug