include ../components/head.pug
.layout-wrapper.layout-content-navbar
  .layout-container
    include ../components/navigation.pug
    .layout-page
      include ../components/navbar.pug
      .content-wrapper
        // Content
        .container-xxl.flex-grow-1.container-p-y
          h4.fw-bold.py-3.mb-4
            span.text-muted.fw-light Товары /
            |  Добавить товар
          .row
            form(method="POST" action="/product/" + data.product._id + "/update" enctype="multipart/form-data")
              .col-xl-6(style="margin-left: auto; margin-right: auto;")
                .card.mb-4
                  h5.card-header Заполните нужные вам поля
                  .card-body
                    .form-floating.mb-3
                      input#nameInput.form-control(name="name" type='text' value=data.product.name)
                      label(for='nameInput') Название
                      .form-text
                        | Должно быть не короче 8 и не длиннее 128 символов*
                    .input-group.mb-3
                      label.form-label(for='exampleFormControlSelect1' style="width: 100%") Цена
                      .input-group-text ₴
                      input.form-control-lg(type="text" name="price" class="form-control" value=data.product.price)
                      span.input-group-text .00
                    .mb-3
                      label.form-label(for='exampleFormControlSelect1') Процент скидки
                      input.form-control(type='number' name="sale" value=data.product.sale placeholder="0")
                      .form-text
                        | По умолчанию скидка 0%*
                    .mb-3
                      label.form-label(for='exampleFormControlSelect1') Категория товара
                      select.form-select.form-select-lg(aria-label='Default select example' required name="category")
                        option(selected='') Выберите категорию
                        if data.categories.length
                          each category in data.categories
                            if category.parentId
                              if String(category._id) == String(data.product.category._id)
                                option(selected="" value=category._id) #{category.name}
                              else
                                option(value=category._id) #{category.name}
                    .mb-3
                      label.form-label(for='exampleFormControlSelect1') Наличие
                      select.form-select.form-select-lg(aria-label='Default select example' required name="availability")
                        option(selected='' value="available") В наличии
                        option(value="running") Заканчивается
                        option(value="out") Нет в наличии
                        option(value="waiting") Ожидается

                    .mb-3
                      label.form-label(for='exampleFormControlTextarea1') Описание
                      textarea.form-control(rows='3' required name="description")
                        | #{data.product.description}
                      .form-text
                        | Должно быть не короче 64 и не длиннее 4096 символов*
                .card.mb-4
                  h5.card-header Характеристики
                  .card-body.features-wrap(style="padding-left: 0; margin-left: 0; padding: 1.5rem 0 1.5rem 0 ")
                    .features-container(data-features-container="" style="padding: 0 1.5rem 0 1.5rem")
                      each feature, indx in data.features
                        .form-check.mb-2.d-flex(style="justify-content: space-between; padding-left: 0;" data-single-feature="" data-feature-id=indx)
                          input.form-control(name="featureKeys[]" required value = feature.key style="max-width: 40%" )
                          input.form-control(name="featureValues[]" required value = feature.value style="max-width: 40%")
                          button(class="btn btn-primary btn-rounded mr-2" type="button" data-remove-feature=indx) <i class='bx bxs-trash-alt' style="pointer-events: none"></i>
                    .d-flex(style="width: 100%; max-height: 250px; align-items: center; justify-content: center; display: flex; ")
                      button.btn.btn-primary.mr-2(type="button" data-add-feature="") Добавить
                .card.mb-4
                  h5.card-header Дополнительно
                  .card-body
                    .form-check.form-switch.mb-2
                      if data.product.hidden === true
                        input#flexSwitchShow.form-check-input(type='checkbox' name="hidden" checked="")
                      else 
                        input#flexSwitchShow.form-check-input(type='checkbox' name="hidden")
                      label.form-check-label(for='flexSwitchShow') Не отображать товар на сайте
                    .form-check.form-switch.mb-2
                      if data.product.new
                        input#flexSwitchNew.form-check-input(type='checkbox' name="new" checked="")
                      else 
                        input#flexSwitchNew.form-check-input(type='checkbox' name="new")
                      label.form-check-label(for='flexSwitchNew') Новинка
                    .form-check.form-switch
                      if data.product.customers_choice
                        input#flexSwitchUsersChoice.form-check-input(type='checkbox' checked='' name="customers_choice")
                      else 
                        input#flexSwitchUsersChoice.form-check-input(type='checkbox' name="customers_choice")
                      label.form-check-label(for='flexSwitchUsersChoice') Выбор покупателей
                    .form-check.form-switch
                      if data.product.show_in_index_catalog
                        input#flexSwitchHomeCatalog.form-check-input(type='checkbox' checked='' name="show_in_index_catalog")
                      else 
                        input#flexSwitchHomeCatalog.form-check-input(type='checkbox' name="show_in_index_catalog")
                      label.form-check-label(for='flexSwitchHomeCatalog') Показать в каталоге на главной странице
                      input#dropzone-file.hidden(type='file' name="images" style="display: none;" multiple)
              .col-xl-6(style="margin-left: auto; margin-right: auto;")
                .card.mb-4
                  h5.card-header Изображения
                  .card-body
                      .output(style="width: 100%; height: auto; display: flext, flex-wrap: wrap; justify-content-space-between")
                      .d-flex(style="width: 100%; max-height: 250px; align-items: center; justify-content: center; display: flex")
                          label.cursor-pointer(style="height: 250px; border: dashed 2px #D1D5DB; border-radius: 0.5rem; background-color: rgb(249 250 251); width: 100%; height: 10rem display: flex; align-items: center; justify-content: center" for='dropzone-file' class='dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600')
                              div(style="justify-content: center; align-items: center; display: flex; height: 100%; flex-wrap: wrap;")
                                  svg.mb-3(fill='none' stroke='currentColor' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' style="width: 2.5rem; height: 2.5rem; color: #9CA3AF; display:  block")
                                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12')
                                  p.mb-2.text-sm.when-files-loaded(style="color: #6B7280; font-size: 0.9rem; line-height: 1rem; display: inline-block; width: 100%; text-align: center")
                                      span(style="font-weight: 600") Нажмите чтобы загрузить
                                  p.text-xs(style="color: #6B7280; font-size: 0.9rem; line-height: 1rem; display: inline-block; width: 100%; text-align: center") SVG, PNG, JPG or GIF (До 5мб)
                              
                      #floatingInputHelp.form-text
                        | Первое изображение будет выбрано в качестве превью*
              .col-xl-6(style="margin-left: auto; margin-right: auto;")
                .d-flex(style="width: 100%; max-height: 250px; align-items: center; justify-content: center; display: flex")
                  button.btn.btn-primary.mr-2(type="submit") Редактировать
                      
        .content-backdrop.fade
    script(src="/js/features.js")
    include ../components/footer-js.pug
