doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title #{data.title}
  meta(name='descriptiion' content=data.description)
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
  link(href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet")
  
  //- link#wp-block-library-css(rel='stylesheet' href='/generall/css/style.min.css' media='all')
  link#oceanwp-style-css(rel='stylesheet' href='/generall/css/style.min_002.css' media='all')
  link#oceanwp-woo-quick-view-css(rel='stylesheet' href='/generall/css/woo-quick-view.min.css' media='all')
  //- link#oceanwp-woocommerce-css(rel='stylesheet' href='/generall/css/woocommerce.min.css' media='all')
  
  
  link(rel='stylesheet' href='/generall/css/bootstrap.css' type='text/css')
  link(rel='stylesheet' href='/generall/css/main.css' type='text/css')
  //- link(rel='stylesheet' href='/generall/css/style_002.css' type='text/css')
  //- link(rel='stylesheet' href='/generall/css/styles.css' type='text/css')

  link(rel="stylesheet", href="/generall/css/catalog.css")
  link#oceanwp-woo-hover-style-css(rel='stylesheet' href='/generall/css/hover-style.min.css' media='all')
  <style>.cart-collaterals{clear:both;margin-top:3em;display:flex;flex-direction:column;box-shadow:0 0 25px 0 rgba(0,0,0,.09);padding:60px}.cart-collaterals h2{font-size:30px}.cart-collaterals .cart_totals{order:-1}.cart-collaterals .cart_totals table{display:table}@media (max-width:575px){.cart-collaterals{padding:30px}.cart-collaterals .cart_totals{width:100%}}.cart-collaterals .cart_totals .wc-forward{border:2px solid #f2c014;padding:15px 35px;margin-top:30px;display:inline-block;font-weight:500;color:#f2c014;line-height:1}.cart-collaterals .cart_totals .wc-forward:hover{background:#f2c014}.cart-collaterals .cart_totals .shipping-calculator-button{padding:10px 35px;border:2px solid #f2c014;line-height:1!important;display:inline-block;color:#f2c014;font-weight:400}.cart-collaterals .cart_totals .shipping-calculator-button:hover{background-color:#f2c014}.cart-collaterals .cart_totals .select2-container--default .select2-selection--single{border:none;line-height:30px;padding:11px 13px;background-color:#f1f1f1;height:52px;-webkit-appearance:none;background-image:url(../img/select-arrow.png);background-position:97% 50%;background-repeat:no-repeat}.cart-collaterals .cart_totals .select2-container--default .select2-selection--single .select2-selection__arrow{display:none}.cart-collaterals .cart_totals .shipping-calculator-form{margin-top:30px}.cart-collaterals .cart_totals .woocommerce-shipping-methods{padding-left:0}.cart-collaterals .cart_totals .woocommerce-shipping-methods label{display:inline-block!important}.cart-collaterals .cart_totals .woocommerce-shipping-methods li{list-style-type:none;padding-left:0}.cart-collaterals .wc-proceed-to-checkout{margin-top:2em}</style>
  <style>.widget_products ul,.widget_recent_reviews ul,.widget_recently_viewed_products ul,.widget_shopping_cart ul,.widget_top_rated_products ul{list-style:none;padding:0;margin:-40px 0 0}.widget_shopping_cart ul{padding-top:40px}.widget_products ul li,.widget_recent_reviews ul li,.widget_recently_viewed_products ul li,.widget_shopping_cart ul li,.widget_top_rated_products ul li{position:relative;padding:40px 40px 40px 85px!important;min-height:160px;white-space:normal;border-bottom:1px solid #d0d2d3}.widget_shopping_cart ul li:first-of-type{border-top:1px solid #d0d2d3}.widget_products ul li a>img,.widget_recent_reviews ul li a>img,.widget_recently_viewed_products ul li a>img,.widget_shopping_cart ul li a>img,.widget_top_rated_products ul li a>img{position:absolute;left:0;max-width:70px;top:50%;transform:translateY(-50%)}.widget_products .minicart-product-meta a,.widget_products .product-title,.widget_recent_reviews .minicart-product-meta a,.widget_recent_reviews .product-title,.widget_recently_viewed_products .minicart-product-meta a,.widget_recently_viewed_products .product-title,.widget_shopping_cart .minicart-product-meta a,.widget_shopping_cart .product-title,.widget_top_rated_products .minicart-product-meta a,.widget_top_rated_products .product-title{display:block;font-size:16px;font-family:Montserrat;margin-bottom:10px}.widget_products .amount,.widget_recent_reviews .amount,.widget_recently_viewed_products .amount,.widget_shopping_cart .amount,.widget_top_rated_products .amount{font-size:16px}.widget_products .woocommerce-mini-cart__buttons a.button,.widget_recent_reviews .woocommerce-mini-cart__buttons a.button,.widget_recently_viewed_products .woocommerce-mini-cart__buttons a.button,.widget_shopping_cart .woocommerce-mini-cart__buttons a.button,.widget_top_rated_products .woocommerce-mini-cart__buttons a.button{padding:15px 20px;line-height:1;font-weight:500;border:2px solid #f2c014;display:inline-block}.widget_products .woocommerce-mini-cart__buttons a.button:hover,.widget_recent_reviews .woocommerce-mini-cart__buttons a.button:hover,.widget_recently_viewed_products .woocommerce-mini-cart__buttons a.button:hover,.widget_shopping_cart .woocommerce-mini-cart__buttons a.button:hover,.widget_top_rated_products .woocommerce-mini-cart__buttons a.button:hover{color:#f2c014!important}.widget_products .woocommerce-mini-cart__buttons a.button:last-child:hover,.widget_recent_reviews .woocommerce-mini-cart__buttons a.button:last-child:hover,.widget_recently_viewed_products .woocommerce-mini-cart__buttons a.button:last-child:hover,.widget_shopping_cart .woocommerce-mini-cart__buttons a.button:last-child:hover,.widget_top_rated_products .woocommerce-mini-cart__buttons a.button:last-child:hover{background-color:#f2c014;color:#f2c014}</style>
  script(src="/generall/js/jquery.min.js")
  script(src="/generall/js/jquery-migrate.min.js")
  style().
    body * {
      font-family:'Montserrat';
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    input[type=number]::placeholder {
      color: rgba(0, 0, 0, .4);
      font-size: 0.9em
    }
    .woocommerce .widget_product_categories li.current-cat a::before {
      background: #ffd34f;
      box-shadow: 
    }
    [v-cloak]{display: none;}
body(class="archive post-type-archive post-type-archive-product wp-custom-logo wp-embed-responsive theme-oceanwp woocommerce-shop woocommerce woocommerce-page woocommerce-js tinvwl-theme-style oceanwp-theme sidebar-mobile default-breakpoint has-sidebar sidebar-content content-left-sidebar has-topbar has-breadcrumbs has-blog-grid pagination-center has-grid-list account-side-style elementor-default elementor-kit-9354 trigger-position-right quick-links-position-left trigger-size-small trigger-color-blue e--ua-firefox owp-qv-open")
  .app#app 
    #canvas
      #box_wrapper
        include ../components/navigation.pug
        section.page_title.ds.s-pt-60.s-pb-60.s-pt-md-90.s-pb-md-90.s-pt-xl-110.s-pb-xl-110.s-parallax.s-overlay(style='background-image: url("http://webdesign-finder.com/armashop/wp-content/uploads/2020/03/title.jpg"); background-position: 50% 1px;')
          .container
            .row
              .col-12
                .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 20px;')
              .col-sm-12.text-center.text-sm-left
                h1.color-main
                  | Магазин
                ol.breadcrumb
                  li.breadcrumb-item.first-item
                    a(href='/') Головна
                  li.breadcrumb-item.last-item.active Товари
              .col-12
                .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 20px;')
        #cartModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog.modal-lg.modal-dialog-centered(role='document')
            .modal-content
              .modal-header.border-bottom-0
                h5#exampleModalLabel.modal-title
                  | Your Shopping Cart
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                table.table.table-image
                  thead
                    tr
                      th(scope='col')
                      th(scope='col') Product
                      th(scope='col') Price
                      th(scope='col') Qty
                      th(scope='col') Total
                      th(scope='col') Actions
                  tbody
                    tr
                      td.w-25
                        img.img-fluid.img-thumbnail(src='https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png' alt='Sheep')
                      td Vans Sk8-Hi MTE Shoes
                      td 89$
                      td.qty
                        input#input1.form-control(type='text' value='2')
                      td 178$
                      td
                        a.btn.btn-danger.btn-sm(href='#')
                          i.fa.fa-times
                .d-flex.justify-content-end
                  h5
                    | Total: 
                    span.price.text-success 89$
              .modal-footer.border-top-0.d-flex.justify-content-between
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-success(type='button') Checkout

    #outer-wrap.site.clr(style="margin-top: 80px")
      #wrap.clr
        main#main.site-main.clr(role='main')
          #content-wrap.container.clr(style='position: relative;')
            aside#right-sidebar.sidebar-container.widget-area.sidebar-primary
              #right-sidebar-inner.clr
                #woocommerce_price_filter-2.sidebar-box.woocommerce.widget_price_filter.clr
                  h4.widget-title &TScy;&iukcy;&ncy;&acy;
                  form(method='get' action='/store/category' @submit.prevent="filterPrice($event)")
                    .price_slider_wrapper
                      if data.query.min
                        input(style="max-width: 45%; margin-right: 5%; color: rgba(0, 0, 0, .6); " name="min" placeholder="Від" value=data.query.min type="number")
                      else 
                        input(style="max-width: 45%; margin-right: 5%; color: rgba(0, 0, 0, .6); " name="min" placeholder="Від" type="number")
                      if data.query.max
                        input(style="max-width: 45%; margin-left: 5%; color: rgba(0, 0, 0, .6); " name="max" placeholder="До" value=data.query.max type="number")
                      else 
                        input(style="max-width: 45%; margin-left: 5%; color: rgba(0, 0, 0, .6); " name="max" placeholder="До" type="number")
                      button.btn.btn-primary(type="submit" style="font-size: 14px; margin: 1em auto;") Фільтрувати
                      .d-none.price_slider_amount(data-step='10')
                        .price_label(style='')
                          | Ціна: 
                          span.from $0
                          |  &mdash; 
                          span.to $700
                        .clear
                if data.categories
                  .sidebar-box.woocommerce.widget_product_categories.clr
                    h4.widget-title Категорії
                    ul.product-categories
                      if data.category
                        li.cat-item.cat-item-8
                            a(href='/store/category/') Всі
                            span.count.cat-item-all
                        each cat,indx in data.categories
                          if cat.slug === data.category
                            li.cat-item.cat-item-8.current-cat
                              a(href='/store/category/' + cat.slug) #{cat.name}
                              span.count #{cat.productsCount}
                          else
                            li.cat-item.cat-item-8
                              a(href='/store/category/' + cat.slug) #{cat.name}
                              span.count #{cat.productsCount}
                      else 
                        li.cat-item.cat-item-8.current-cat
                            a(href='/store/category/') Всі
                            span.count #{data.products.length}
                        each cat,indx in data.categories
                          li.cat-item.cat-item-8
                            a(href='/store/category/' + cat.slug) #{cat.name}
                            span.count #{cat.productsCount}
                .sidebar-box.woocommerce.widget_product_categories.clr
                  h4.widget-title Наявність
                  ul.product-categories
                    if !data.query.availability
                      li.cat-item.cat-item-8.current-cat
                        a(rel='nofollow' href='#' data-filter-link="" data-filter-key="availability" data-filter-value="" @click.prevent="initFilter('availability', '')") Всі
                    else
                      li.cat-item.cat-item-8
                        a(rel='nofollow' href='#' data-filter-link="" data-filter-key="availability" data-filter-value="" @click.prevent="initFilter('availability', '')") Всі 
                    if data.query.availability === 'available'
                      li.cat-item.cat-item-8.current-cat
                        a(rel='nofollow' href='#' data-filter-link="" data-filter-key="availability" data-filter-value="available" @click.prevent="initFilter('availability', 'available')") В наявності
                    else
                      li.cat-item.cat-item-8 
                        a(rel='nofollow' href='#' data-filter-link="" data-filter-key="availability" data-filter-value="available" @click.prevent="initFilter('availability', 'available')") В наявності
                    


                    if data.query.availability === 'running'
                      li.cat-item.cat-item-8.current-cat
                        a(rel='nofollow' href='#' data-filter-link="" data-filter-key="availability" data-filter-value="running" @click.prevent="initFilter('availability', 'running')") Закінчується
                    else
                      li.cat-item.cat-item-8
                        a(rel='nofollow' href='#' data-filter-link="" data-filter-key="availability" data-filter-value="running" @click.prevent="initFilter('availability', 'running')") Закінчується


                    if data.query.availability === 'out'
                      li.cat-item.cat-item-8.current-cat
                        a(rel='nofollow' href='#' data-filter-link="" data-filter-key="availability" data-filter-value="out" @click.prevent="initFilter('availability', 'out')") Немає в наявності
                    else
                      li.cat-item.cat-item-8
                        a(rel='nofollow' href='#' data-filter-link="" data-filter-key="availability" data-filter-value="out" @click.prevent="initFilter('availability', 'out')") Немає в наявності


                    if data.query.availability === 'waiting'
                      li.cat-item.cat-item-8.current-cat
                        a(rel='nofollow' href='#' data-filter-link="" data-filter-key="availability" data-filter-value="waiting" @click.prevent="initFilter('availability', 'waiting')") Очікується
                    else
                      li.cat-item.cat-item-8
                        a(rel='nofollow' href='#' data-filter-link="" data-filter-key="availability" data-filter-value="waiting" @click.prevent="initFilter('availability', 'waiting')") Очікується


                      
            #primary.content-area.clr
              #content.clr.site-content
                article.entry-content.entry.clr
                  header.woocommerce-products-header
                  .woocommerce-notices-wrapper
                  .oceanwp-toolbar.clr
                    form.woocommerce-ordering(method='get')
                      select.orderby.hasCustomSelect(name='orderby' aria-label='Shop order' style='opacity: 1; position: absolute; height: 34px; font-size: 13px; appearance: menulist-button; width: 228px;' data-filter-option="" @change.prevent="initFilter('sort', $event.target.value)")
                        if data.query.sort === '-date'
                          option(value='-date' selected='selected' data-filter-key="sort" data-filter-value="-date" ) Сортувати за датою
                        else
                          option(value='-date' data-filter-key="sort" data-filter-value="-date" ) Сортувати за датою

                        if data.query.sort === 'name'
                          option(value='name' selected="" data-filter-key="sort" data-filter-value="name" ) Сортувати за назвою
                        else
                          option(value='name' data-filter-key="sort" data-filter-value="name" ) Сортувати за назвою

                        if data.query.sort === 'price'
                          option(value='price' selected="selected" data-filter-key="sort" data-filter-value="price" ) Сортувати за ціною: від низької до високої
                        else
                          option(value='price' data-filter-key="sort" data-filter-value="price" ) Сортувати за ціною: від низької до високої

                        if data.query.sort === '-price'
                          option(value='-price' selected="selected" data-filter-key="sort" data-filter-value="-price" ) Сортувати за ціною: від високої до низької
                        else
                          option(value='-price' data-filter-key="sort" data-filter-value="-price" ) Сортувати за ціною: від високої до низької
                        
                      input(type='hidden' name='paged' value='1')
                    ul.result-count
                      li.view-title Товарів на сторінці:
                      li
                        if data.query.limit == 2
                          a.view-first.active(href='#' data-filter-link="" data-filter-key="limit" data-filter-value="2" @click.prevent="initFilter('limit', 2)") 2
                        else
                          a.view-first(href='#' data-filter-link="" data-filter-key="limit" data-filter-value="2" @click.prevent="initFilter('limit', 2)") 2
                      li
                        if data.query.limit == 4
                          a.view-second.active(href='#' data-filter-link="" data-filter-key="limit" data-filter-value="4" @click.prevent="initFilter('limit', 4)") 4
                        else
                          a.view-second(href='#' data-filter-link="" data-filter-key="limit" data-filter-value="4" @click.prevent="initFilter('limit', 4)") 4
                      li
                        if data.query.limit == 6
                          a.view-all.active(href='#' data-filter-link="" data-filter-key="limit" data-filter-value="6" @click.prevent="initFilter('limit', 6)") 6
                        else
                          a.view-all(href='#' data-filter-link="" data-filter-key="limit" data-filter-value="6" @click.prevent="initFilter('limit', 6)") 6
                  if data.products.length
                    ul.products.oceanwp-row.clr.grid.tablet-col.tablet-2-col.mobile-col.mobile-2-col.infinite-scroll-wrap
                      each product, indx in data.products
                        if !product.hidden
                          span.total_products.d-none #{indx}
                          span.min-price.d-none
                          span.max-price.d-none
                          if product.category
                            li.entry.has-media.col.span_1_of_3.owp-content-center.item-entry.owp-thumbs-layout-horizontal.owp-btn-big.owp-tabs-layout-vertical.circle-sale.product.type-product.post-12596.status-publish.instock.product_cat-foregrips.product_cat-grips.product_tag-ar15.product_tag-m16.product_tag-pistol-grip.product_tag-rifle-accessories.product_tag-vertical-grip.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-variable
                              .product-inner.clr
                                ul.woo-entry-inner.clr
                                  li.image-wrap(style="height: 350px; max-height: 350px")
                                    .woo-entry-image.clr
                                      a.woocommerce-LoopProduct-link.no-lightbox(href='/store/product/' + product.slug)
                                        img.woo-entry-image-main(src='/' + product.images[0] alt=product.name loading='lazy' itemprop='image' width='480' height='480')
                                    // .woo-entry-image
                                    a.button.product_type_variable(href='/store/product/' + product.slug rel='nofollow') Деталі
                                  ul.woo-product-info
                                    li.category
                                      a(href='#' data-filter-link="" data-filter-key="category" data-filter-value=product.category._id) #{product.category.name}
                                    li.title
                                      h2
                                        a(href="/store/product/" + product.slug) #{product.name}
                                    li.price-wrap
                                      span.price
                                        span.woocommerce-Price-amount.amount
                                          if product.sale > 0
                                            bdi.mr-2
                                              span.woocommerce-Price-currencySymbol(style="text-decoration: line-through; color: silver") $ #{product.price}
                                            bdi.ml-4
                                              span.woocommerce-Price-currencySymbol $
                                              | #{Math.floor((product.price / 100 * (100 - product.sale)))}
                                          else
                                            bdi
                                              span.woocommerce-Price-currencySymbol $
                                              | #{product.price}
                                    li.woo-desc
                                      | #{product.description}
                                  ul.woo-product-gallery
                                    if product.images.length 
                                      each img, indx in product.images
                                        if indx <= 3
                                          li.active
                                            a.woo-product-gallery-link.no-lightbox(href='/' + img)
                                              img.attachment-thumbnail.size-thumbnail(src='/' + img alt='MTG – M-Lok® Tactical Grip' width='150' height='150' style="height: 60px; width: auto;" )
    #canvas
      #box_wrapper
        include ../components/footer.pug                             

  include ../components/footer-js.pug
  script#oceanwp-woo-hover-style-js(src='/generall/js/woo-hover-style.min.js')
  script#oceanwp-woo-quick-view-js(src='/generall/js/woo-quick-view.min.js')
  script(type="module" src="/generall/js/app.js")
