include ../components/head.pug
// wrappers for visual page editor and boxed version of template
<style>#sync1 .item,#sync2 .item{margin:5px;color:#fff;text-align:center}#sync1 .item,#sync2 .synced .item{background:transparent}#sync1 .item{padding:80px 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}#sync2 .item{background:transparent;padding:10px 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;cursor:pointer}#sync2 .item h1{font-size:18px}</style>
#canvas
  #box_wrapper
    include ../components/navigation.pug
    section.page_title.ds.s-pt-60.s-pb-60.s-pt-md-90.s-pb-md-90.s-pt-xl-110.s-pb-xl-110.s-parallax.s-overlay(style='background-image: url("/img/home/title.jpg"); background-position: 50% -3px;')
      .container
        .row
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 20px;')
          .col-sm-12.text-center.text-sm-left
            h1.color-main
              | #{data.product.name}
            ol.breadcrumb
              li.breadcrumb-item.first-item
                a(href='/') Головна
              li.breadcrumb-item.0-item
                a(href='/') #{data.product.category.name}
              li.breadcrumb-item.last-item.active #{data.product.name}
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 20px;')
    // .page_title
    section.ls.page_content.s-py-xl-110.s-py-md-90.s-py-60.c-gutter-60
      //- .container.mt-5.mb-5(style="max-width: 1200px; box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.09); box-sizing: content-box; padding: 4em")
      .container.mt-5.mb-5(style="max-width: 1200px;")
        .row
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
          .woocommerce-notices-wrapper
          #content_product.col-12.col-xs-12.col-lg-7.col-xl-12.order-lg-2.column-main
            .has-post-thumbnail.product.type-product.post-581.status-publish.first.instock.product_cat-equipment.sale.featured.shipping-taxable.purchasable.product-type-simple
              .images(data-columns='4' style='opacity: 1; transition: opacity 0.25s ease-in-out 0s;')
                #sync1.owl-carousel(data-loop='false' data-nav='true' data-dots='false' data-center='false' data-autoplay='false' data-speed='5000' data-responsive-xl='1' data-responsive-lg='1' data-responsive-md='1' data-responsive-sm='1' data-responsive-xs='1' data-margin='15')
                  each img in data.product.images
                    .item(style="display: flex; align-items: center; justify-content: center")
                      img(src="/" + img alt=data.product.name style="max-height: 350px; width: auto")


                // /container

              .summary.entry-summary
                .product_meta
                  span.sku_wrapper
                    | Код товару: 
                    span.sku 4282123
                  span.posted_in
                    | Категорія: 
                    a(href='/armashop/product-category/equipment/' rel='tag') #{data.product.category.name}
                p.price
                  if data.product.sale
                    del
                      span.woocommerce-Price-amount.amount
                        span ₴
                        | #{data.product.price}
                        sup 00
                    ins
                      span.woocommerce-Price-amount.amount
                        span ₴
                        | #{Math.floor(data.product.price / 100 * (100 - data.product.sale))}
                        sup 00
                  else
                    ins
                      span.woocommerce-Price-amount.amount
                        span ₴
                        | #{data.product.price}
                        sup 00
                .woocommerce-product-details__short-description
                  p(style="max-width: 100%; display: inline-block; space-wrap: wrap;")
                    | #{data.product.description}
                form.cart(action='/armashop/product/champion-of-regret-gun/' method='post' enctype='multipart/form-data')
                  .add-to-cart
                    .quantity
                      label.screen-reader-text(for='quantity_62bdf17eb2418' style='display: none;') Champion Of Regret Gun quantity
                      input.plus(type='button' value='+')
                      i.fa.fa-angle-up(aria-hidden='true')
                      input#quantity_62bdf17eb2418.input-text.qty.text(type='number' step='1' min='1' max='' name='quantity' value='1' title='Qty' size='4' placeholder='Champion Of Regret Gun quantity' inputmode='numeric')
                      input.minus(type='button' value='-')
                      i.fa.fa-angle-down(aria-hidden='true')
                    button.single_add_to_cart_button.button.alt(type='submit' name='add-to-cart' value='581') В корзину
              .woocommerce-tabs.wc-tabs-wrapper
                ul.tabs.wc-tabs(role='tablist')
                  li#tab-title-description.description_tab.active(role='tab' aria-controls='tab-description' onclick="toggleTabs(event);")
                    a(href='#tab-description' class="tab-head")
                      | Опис
                  li#tab-title-additional_information.additional_information_tab(role='tab' aria-controls='tab-additional_information' onclick="toggleTabs(event);")
                    a(href='#tab-additional_information' class="tab-head")
                      | Характеристики
                  li#tab-title-reviews.reviews_tab(role='tab' aria-controls='tab-reviews' onclick="toggleTabs(event);")
                    if data.comments
                      a(href='#tab-reviews' class="tab-head")
                        | Відгуки (#{data.comments.length})
                    else
                      a(href='#tab-reviews' class="tab-head")
                        | Відгуки (0)
                #tab-description.tab-body.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab(role='tabpanel' aria-labelledby='tab-title-description' style='display: block; box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.09); padding: 3em; margin: 2.5em 0 0 2.5em')
                  h2 Опис
                  p #{data.product.description}
                #tab-additional_information.tab-body.woocommerce-Tabs-panel.woocommerce-Tabs-panel--additional_information.panel.entry-content.wc-tab(role='tabpanel' aria-labelledby='tab-title-additional_information' style='display: none; box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.09); padding: 3em; margin: 2.5em 0 0 2.5em')
                  h2 Додаткова інформація
                  table.woocommerce-product-attributes.shop_attributes
                    tbody
                      tr.woocommerce-product-attributes-item.woocommerce-product-attributes-item--attribute_pa_color
                        th.woocommerce-product-attributes-item__label Колір
                        td.woocommerce-product-attributes-item__value
                          p Зелений
                #tab-reviews.tab-body.woocommerce-Tabs-panel.woocommerce-Tabs-panel--reviews.panel.entry-content.wc-tab(role='tabpanel' aria-labelledby='tab-title-reviews' style='display: none; box-shadow: none')
                  #reviews.woocommerce-Reviews(style="box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.09); padding: 3em; margin-left:")
                    #tab-comments
                      h2.woocommerce-Reviews-title
                        | Написати відгук
                      if !data.comments
                        p.woocommerce-noreviews Відгуків до цього товару поки що немає
                    #review_form_wrapper
                      #review_form
                          form#commentform.comment-form(action='/comment/new' method='post')
                            p.comment-notes
                              span#email-notes Ваша e-mail адреса не буде опублікована
                            .comment-form-rating
                              label(for='rating') Ваша оцінка
                              p.stars
                                span
                                  a.star-1(href='javascript:void(0)' data-star="1") 1
                                  a.star-2(href='javascript:void(0)' data-star="2") 2
                                  a.star-3(href='javascript:void(0)' data-star="3") 3
                                  a.star-4(href='javascript:void(0)' data-star="4") 4
                                  a.star-5(href='javascript:void(0)' data-star="5") 5
                              .select-wrap
                                select#rtn(name='rate' required='' style='display: none;')
                                  option(value='5') Perfect
                                  option(value='4') Good
                                  option(value='3') Average
                                  option(value='2') Not that bad
                                  option(value='1') Very poor
                            p.comment-form-comment
                              label(for='comment' style='display: none;')
                                | Ваш відгук &nbsp;
                                span.required *
                              textarea#comment(name='message' cols='45' rows='8' required='' placeholder='Ваш відгук')
                            p.comment-form-author
                              label(for='author' style='display: none;')
                                | Ім'я &nbsp;
                                span.required *
                              input#author(name='name' type='text' size='30' required='' placeholder="Ім'я")
                            p.comment-form-email
                              label(for='email' style='display: none;')
                                | Email&nbsp;
                                span.required *
                              input#email(name='email' type='email' size='30' required='' placeholder='Email адреса')
                            p.form-submit
                              input(type="hidden" name="product" value=data.product._id)
                              button#submit.submit(type='submit' ) Надіслати
                  if data.comments
                    each comment in data.comments
                      .panel.entry-content.wc-tab(role='tabpanel' aria-labelledby='tab-title-reviews' style="box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.09); margin-top: 3em; padding: 3em; position: relative")
                          #comments
                            h5(style="text-transform: none") #{comment.name}
                          .div
                            .div
                                p.comment-notes(style="margin-top: 1.5em")
                                  span#email-notes #{comment.message}
                                .comment-form-rating
                                  if comment.rate == '1'
                                    p.stars.selected.mt-3
                                      span
                                        a.star-1(href='#').active 1
                                        a.star-2(href='#') 2
                                        a.star-3(href='#') 3
                                        a.star-4(href='#') 4
                                        a.star-5(href='#') 5
                                  else if comment.rate == '2'
                                    p.stars.selected.mt-3
                                      span
                                        a.star-1(href='#') 1
                                        a.star-2(href='#').active 2
                                        a.star-3(href='#') 3
                                        a.star-4(href='#') 4
                                        a.star-5(href='#') 5
                                  else if comment.rate == '3'
                                    p.stars.selected.mt-3
                                      span
                                        a.star-1(href='#') 1
                                        a.star-2(href='#') 2
                                        a.star-3(href='#').active 3
                                        a.star-4(href='#') 4
                                        a.star-5(href='#') 5
                                  else if comment.rate == '4'
                                    p.stars.selected.mt-3
                                      span
                                        a.star-1(href='#') 1
                                        a.star-2(href='#') 2
                                        a.star-3(href='#') 3
                                        a.star-4(href='#').active 4
                                        a.star-5(href='#') 5
                                  else if comment.rate == '5'
                                    p.stars.selected.mt-3
                                      span
                                        a.star-1(href='#') 1
                                        a.star-2(href='#') 2
                                        a.star-3(href='#') 3
                                        a.star-4(href='#') 4
                                        a.star-5(href='#').active 5
                                  .comment-date(style="position: absolute; right: 5%; top: 20%; font-size: 0.8em; font-weight: bold; opacity: 0.7") #{comment.date.toLocaleString('ru-RU', { timeZone: 'UTC' })}
              
              section.related.products()
                h2 Схожі товари
                ul.products.columns-3.owl-carousel.bottom-left-nav.owl-theme.owl-shadowitems.owl-loaded.owl-drag(data-loop='true' data-nav='false' data-dots='true' data-center='false' data-autoplay='true' data-speed='5000' data-responsive-xl='3' data-responsive-lg='3' data-responsive-md='2' data-responsive-sm='1' data-responsive-xs='1' data-margin='30' data-draggable="false")
                  .owl-stage-outer
                    .owl-stage(style='transform: translate3d(-297px, 0px, 0px); transition: all 0.25s ease 0s; width: 1191px;')
                      each related in data.relatedProducts
                        .owl-item(style='width: 267.667px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-582.status-publish.first.instock.product_cat-equipment.featured.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img(style="max-width: 100%; margin: 0 auto;")
                                a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='/store/' + related.slug)
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/' + related.images[0] alt=''  width='900' height='900')
                              .wrap-header
                                h2.woocommerce-loop-product__title
                                  a.woocommerce-LoopProduct-link.woocommerce-loop-product__link(href='/store/' + related.slug) #{related.name}
                                span.cat-product
                                  a(href='/store/' + related.slug rel='tag') #{related.category.name}
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span.woocommerce-Price-amount.amount
                                    span.woocommerce-Price-currencySymbol ₴.
                                    | #{related.price}
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/' data-quantity='1' data-product_id='582' data-product_sku='woo-sunglasses' aria-label='Add “Allegiance Of The Enigma” to your cart' rel='nofollow') В корзину
                  
                
                  .owl-dots
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    script(src="/generall/js/validation.js" type="module")
    include ../components/footer.pug
    include ../components/footer-js.pug    
    script(src="/generall/js/tabs.js")