include ../components/head.pug
#canvas
  #box_wrapper
    include ../components/navigation.pug
    section.page_title.ds.s-pt-60.s-pb-60.s-pt-md-90.s-pb-md-90.s-pt-xl-110.s-pb-xl-110.s-parallax.s-overlay(style='background-image: url("http://webdesign-finder.com/armashop/wp-content/uploads/2020/03/title.jpg"); background-position: 50% 1px;')
      .container
        .row
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 20px;')
          .col-sm-12.text-center.text-sm-left
            h1.color-main
              | Магазин
            ol.breadcrumb
              li.breadcrumb-item.first-item
                a(href='/') Головна
              li.breadcrumb-item.last-item.active Товари
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 20px;')
    // .page_title
    section.ls.page_content.s-py-xl-110.s-py-md-90.s-py-60.c-gutter-60
      .container(style="max-width: 80%")
        .row
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
            nav
              a(href='/') Головна
              | &nbsp;/ Магазин
            header
          
          #content_products.col-12.col-xs-12.col-lg-9.col-xl-9.order-lg-2.column-main
            .products-selection
              p(style="margin-bottom: 0")
                | Показано результатів: #{data.products.length}
              form(method='get')
                .select-wrap
                  select.orderby(name='orderby' aria-label='Shop order')
                    option(value='menu_order' selected='selected') Сортувати по замовчуванню
                    option(value='popularity') За популярність
                    option(value='rating') За рейтингом
                    option(value='date') За новизною
                    option(value='price') За ціною: низька - висока
                    option(value='price-desc') За ціною: висока - низька
            if data.products.length
              ul.products.columns-3
                each product,indx in data.products
                  if !product.hidden
                    li.has-post-thumbnail.product.type-product.status-publish.product_cat-equipment.featured.shipping-taxable.purchasable.product-type-simple(style="position: relative" data-product-card)
                      .product-inner
                        .product-img(style="max-width: 100%; margin: 0 auto; max-height: 271px")
                          a(href='/store/' + product.slug)
                            if product.sale > 0
                              span.onsale(style="font-size: 1em") Знижка!
                            img(src='/' + product.images[0] style="max-width: 100%; max-height: 100%")
                        .wrap-header
                          h2
                            a(href='/store/' + product.slug ) #{product.name.slice(0, 15)}...
                          span.cat-product
                            a(href='/store/' + product.slug  rel='tag') #{product.category.name}
                        // close product-wrap
                        .wrap-footer
                          if product.sale > 0
                            span.price
                              del(style="margin: 0 10px 0")
                                span 
                                  span 
                                  | #{product.price}
                                  sup 00
                              ins(style="margin: 0 10px 0")
                                span
                                  span
                                  | #{Math.floor((product.price / 100 * (100 - product.sale)))}
                                  sup 00
                          else
                            span.price
                                ins
                                span
                                  span
                                  | #{product.price}
                                  sup 00
                          .product-button
                            each item in data.cart.products 
                              | #{item._id}
                              | #{product._id}
                              if String(item._id) === String(product._id)
                                button.button.d-none.product_type_simple.add_to_cart_button.ajax_add_to_cart(data-cart-product=product._id data-cart-action="add" data-cart-quantity="1"  rel='nofollow') В корзину    
                                button.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(data-cart-product=product._id data-cart-action="remove" data-cart-quantity="1"  rel='nofollow') Видалити                
                              else
                                button.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(data-cart-product=product._id data-cart-action="add" data-cart-quantity="1"  rel='nofollow') В корзину    
                                button.button.d-none.product_type_simple.add_to_cart_button.ajax_add_to_cart(data-cart-product=product._id data-cart-action="remove" data-cart-quantity="1"  rel='nofollow') Видалити      
              nav.woocommerce-pagination
                ul.page-numbers
                  li
                    span.page-numbers.current(aria-current='page') 1
                  //- li
                  //-   a.page-numbers(href='/') 2
                  //- li
                  //-   a.next.page-numbers(href='/') &rarr;
            else 
              .d-flex.mt-5(style="justify-content: center") Товарів зі вказаними параметрами не знайдено
          aside.col-12.col-xs-12.col-lg-3.col-xl-3.order-lg-1.column-sidebar(style="position: relative;")
            form(methods="GET" action="/store" style="position: sticky; top: 20px;")
              .widget-theme-wrapper.widget_no_background
                #search-3.widget.widget_search
                    .form-group
                      label
                        span.screen-reader-text Search for:
                        input.search-field.form-control(type='text' placeholder='Пошук')
                    button.search-submit(type='submit')
                      span.screen-reader-text Пошук
              .widget-theme-wrapper.widget_no_background
                #filters-price.widget.widget_search
                  label(for="#filters-category")
                      span Ціна
                  .form-group.d-flex.mt-2
                    input(type="number" placeholder="від"  name="priceFrom" style="margin-right: 10px")
                    input(type="number" placeholder="до" name="priceTo"  style="margin-left: 10px")
              if data.categories 
                .widget-theme-wrapper.widget_no_background
                  #filters-category.widget.widget_search
                    .form-group
                      label(for="#filters-category")
                        span Категорія
                      select.mt-2(name="")
                        option(value="") Всі категорії
                        each category in data.categories
                          if category.parentId
                            option(value=category._id) #{category.name}
              .widget-theme-wrapper.widget_no_background
                #filters-sales.widget.widget_search
                  .form-group
                    label(for="#filters-sales")
                      span Акція
                  .form-check.mt-2
                    input.form-check-input#fitlers-status-sale(type="checkbox")
                    label.form-check-label(for="#fitlers-status-users-choice") Зі знижкою
                  .form-check.mt-2
                    input.form-check-input#fitlers-status-nosale(type="checkbox")
                    label.form-check-label(for="#fitlers-status-users-choice") Без знижки
              .widget-theme-wrapper.widget_no_background
                #filters-stock.widget.widget_search
                  .form-group
                    label(for="#filters-stock")
                      span Наявність
                  .form-check.mt-2
                    input.form-check-input#fitlers-status-available(type="checkbox")
                    label.form-check-label(for="#fitlers-status-users-choice") В наявності
                  .form-check.mt-2
                    input.form-check-input#fitlers-status-out(type="checkbox")
                    label.form-check-label(for="#fitlers-status-users-choice") Закінчується
                  .form-check.mt-2
                    input.form-check-input#fitlers-status-users-choice(type="checkbox")
                    label.form-check-label(for="#fitlers-status-users-choice") Відсутній
              .widget-theme-wrapper.widget_no_background
                #filters-add.widget.widget_search
                  .form-group
                    label(for="#filters-add")
                      span Додатково
                  .form-check.mt-2
                    input.form-check-input#fitlers-status-users-choice(type="checkbox")
                    label.form-check-label(for="#fitlers-status-users-choice") Вибір покупців
                  .form-check.mt-2
                    input.form-check-input#fitlers-status-new(type="checkbox")
                    label.form-check-label(for="#fitlers-status-users-choice") Новинка
              .widget-theme-wrapper.widget_no_background
                #filters-reviews.widget.widget_search
                  .form-group
                    label(for="#filters-reviews")
                      span Відгуки
                  .form-check.mt-2
                    input.form-check-input#fitlers-status-users-choice(type="checkbox")
                    label.form-check-label(for="#fitlers-status-users-choice") З відгуками
                  .form-check.mt-2
                    input.form-check-input#fitlers-status-users-choice(type="checkbox")
                    label.form-check-label(for="#fitlers-status-users-choice") Без відгуків
              .widget-theme-wrapper.widget_no_background
                .product-button.d-flex.justify-content-center
                  button.button.product_type_simple(type="submit") Знайти
            
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
    include ../components/footer.pug
    include ../components/footer-js.pug
