footer.page_footer.ds.ms.c-gutter-100.c-mb-30.s-pt-60.s-pb-30.s-pt-md-90.s-pb-md-60.s-pt-lg-100.s-pb-lg-70
  .container
    .row
      .col-xl-3.col-md-6.text-center.text-sm-left
        .widget-theme-wrapper.widget_no_background
          #mwt_bloginfo-2.widget.widget_bloginfo
            a.blog-info-logo.logo(href='/' target='_blank')
              img(src='/img/admin/logo-inv.png' alt='Logo')
            .description
              | #{data.misc.footerAbout}
            .icons-list
            span.social-icons
              a.fa.fa-2xp.fa-paper-plane(href='https://t.me/+'+ data.misc.contacts.telegram target='_blank' style="transform: scale(1.2);")
              a.fa.fa-2xp.fa-instagram(href=data.misc.contacts.instagram target='_blank' style="transform: scale(1.2);")
              a.fa.fa-2xp.fa-viber(href='viber://chat?number=%2B'+ data.misc.contacts.viber target='_blank' style="transform: scale(1.2);")
      .col-xl-3.col-md-6.text-center.text-sm-left
        .widget-theme-wrapper.widget_no_background
          #mwt_bloginfo-3.widget.widget_bloginfo
            h3.widget-title Контакти
            .icons-list
              ul.list-bordered.no-top-border.no-bottom-border
                li
                  .icon-inline
                    .icon-styled.icon-top
                      ion-icon(name='location')
                    p
                      | #{data.misc.contacts.city}
                      br
                      | #{data.misc.contacts.street}
                li
                  .icon-inline
                    .icon-styled.icon-top
                      ion-icon(name='call')
                    p
                      a(href='tel:' + data.misc.contacts.phone) #{data.misc.contacts.phone}
                      br
                      a(href="tel:380631676533") +38(063)167-65-33
                li
                  .icon-inline
                    .icon-styled.icon-top
                      ion-icon(name='mail')
                    p
                      a(href='mailto:info@example.com') #{data.misc.contacts.email}
      .col-xl-3.col-md-6.text-center.text-sm-left
        .widget-theme-wrapper.widget_no_background
          #nav_menu-2.widget.widget_nav_menu
            h3.widget-title Навігація
            .menu-footer-menu-1-container
              ul#menu-footer-menu-1.menu
                li#menu-item-562.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-562
                  a(href='/') Головна
                li#menu-item-565.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-565
                  a(href='/about') Про нас
                li#menu-item-563.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-563
                  a(href='/contacts') Контакти
                li#menu-item-564.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-564
                  a(href='/cart') Корзина
      .col-xl-3.col-md-6.text-center.text-sm-left
        .widget-theme-wrapper.widget_no_background
          .widget.widget_product_categories
            h3.widget-title Товари
            ul.product-categories
              li.cat-item.cat-item-27
                a(href='/store/category/Odyag-Forma') Одяг/Форма
              li.cat-item.cat-item-15
                a(href='/store/category/Bronezhileti') Бронежилети
              li.cat-item.cat-item-28
                a(href='/store/category/Pidsumki-Rozgruzki') Підсумки/Розгрузка
              li.cat-item.cat-item-30
                a(href='/store/category/Optika') Оптика
// .page_footer
section.page_copyright.copyright1.ds.s-pt-20.s-pb-20
  .container
    .row.align-items-center
      .col-sm-12.text-center
        | &copy; UArmor 
        span.copyright_year  2022 
